<!-- Validation failure messages -->

<% if @skill.errors.any? %>
  <% @skill.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Skill #<%= @skill.id %></h3>
      </div>
      <div class="panel-body">
        <%= form_tag skill_url(@skill.id), :method => "patch", :class => "form-horizontal" do %>
          <!-- Label and input for skill -->
          <div class="form-group">
            <label for="skill" class="col-sm-2 control-label">
              Name of Skill
            </label>
            <div class="col-sm-10">
              <textarea id="skill" name="skill" placeholder="<%= @skill.skill %>" class="form-control" rows="3"><%= @skill.skill %></textarea>
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="<%= @skill.description %>" class="form-control" rows="3"><%= @skill.description %></textarea>
            </div>
          </div>

          <!-- Label and input for avg -->
          <div class="form-group">
            <label for="avg" class="col-sm-2 control-label">
              Completion time <small>(Hours)</small>
            </label>
            <div class="col-sm-10">
              <input type="text" id="avg" name="avg" placeholder="<%= @skill.avg %>" class="form-control" value="<%= @skill.avg %>">
            </div>
          </div>

          <!-- Label and input for acquired -->
          <div class="form-group">
            <label for="acquired" class="col-sm-2 control-label">
              Practicing Since <small>(Year)</small>
            </label>
            <div class="col-sm-10">
              <input type="text" id="acquired" name="acquired" placeholder="<%= @skill.acquired %>" class="form-control" value="<%= @skill.acquired %>">
            </div>
          </div>

          <!-- Label and input for special -->
          <div class="form-group">
            <label for="special" class="col-sm-2 control-label">
              Specialties
            </label>
            <div class="col-sm-10">
              <textarea id="special" name="special" placeholder="<%= @skill.special %>" class="form-control" rows="3"><%= @skill.special %></textarea>
            </div>
          </div>

          <!-- Label and input for cert -->
          <div class="form-group">
            <label for="cert" class="col-sm-2 control-label">
              Extras <small>Certifications, Licenses, Credentials</small>
            </label>
            <div class="col-sm-10">
              <textarea id="cert" name="cert" placeholder="<%= @skill.cert %>" class="form-control" rows="3"><%= @skill.cert %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Skill" class="btn btn-warning">
              or
              <%= link_to "Cancel", skill_url(@skill.id) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
